@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form method="get" class="example">
    <!--asp-for works as a two way model binding for SearchTerm. 
        It means our search text will stay in the search bar -->
    <input asp-for="SearchTerm" type="text" placeholder="Search.." name="searchTerm">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<table class="table">
    @foreach(var restaurant in Model.Restaurants) {
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>
        <td>
            <!--asp-page and asp-route-resaurantId are the hrefs dealt with in house-->
            <!--Because we are linking to the Detail page, we need to pass in the restaurantId for the OnGet method-->
            <a class="fa fa-search" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">

            </a>
            <a class="fa fa-pencil fa-fw" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">

            </a>
        </td>
    </tr>
    }
</table>
<a asp-page=".\Edit" class="btn btn-primary">Add new</a>
<div>
    @Model.Message
</div>

